input#mysearch {
    min-width: 100%;
    min-height: 5em;
}

.small-12 {
    padding: 0 0 0 0;
}
.medium-12 {
    padding: 0 0 0 0;
}
.large-12 {
    padding: 0 0 0 0;
}

.row{
    margin-left: 0%;
    margin-right: 0%;
    max-width: 100%;
}

.hidebar {
    visibility: hidden;
}

.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}

.media,
.media .media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0;
}

.media-object {
  display: block;
}

.media-heading {
  margin-bottom: 5px;
}

.media > .left {
  margin-right: 10px;
}
.media > .right {
  margin-left: 10px;
}

.media-list {
  padding-left: 0;
  list-style: none;
}
